#container-model {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100vw;
    padding: 4rem 4rem 4rem 4rem;  
}
.container-text-model {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.container-text-model h2 {
    padding-bottom: 10px;
    color: white;
}
.container-text-model h4 {
    padding-bottom: 05px;
    color: #DE155E;
    max-width: 300px;
}
.container-text-model p {
    max-width: 300px;
    color: white;
    padding-bottom: 15px;
}
.container-icon-model {
    display: flex;
    animation: appearRight 1s;
       
}
.container-icon-model h4 {
    padding-top: 18px;
    
}
.icon {
    width: 80px;
}
.image-model {
    width: 600px;
    animation: appearLeft 1s ease-in-out;
}
@keyframes appearLeft {

    from {
        opacity: 0;
        translate: -100vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
    
}
@keyframes appearRight {

    from {
        opacity: 0;
        translate: 100vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
    
}
@media screen and (max-width: 500px) {

    .image-model {
        width: 400px;
    }
    .icon {
        width: 70px;
    }
}