.swiper-carrossel {
    padding: 32px;
}
.swiper-slide-carrossel {
    
    
}
.container-foto {
    border: 2px solid #DE155E;
    border-radius: 5px;

}
.swiper-pagination-bullet-active {
    background-color: #DE155E;
}
.swiper-button-prev {
    color: #DE155E;
}
.swiper-button-next {
    color: #DE155E;
}
.image {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.h2-carrossel {
    color: whitesmoke; 
    font-size: 40px;
    padding: 0px 0px 0px 30px;
}
h5 {
    color: #DE155E;
    padding: 20px 0px 0px 30px;
}
