.swiper-carrossel {
    padding: 32px;
}
.swiper-slide-carrossel {
    display: flex;
    justify-content: center;
}
.swiper-pagination-bullet-active {
    background-color: #DE155E;
}
.swiper-button-prev {
    color: #DE155E;
}
.swiper-button-next {
    color: #DE155E;
}