
.logo {
    width: 50px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #010101;
}
nav .menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
nav .menu span {
    height: 0.3rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
#navbar li {
    list-style-type: none;
    font-size: 17px;
}
#link {
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none; 
    padding: 05px 20px;  
    transition: 0.3s ease-in-out;
    position: relative;
}
#link:hover, #link.active {
    color: #DE155E;   
}
#link:hover::after, #link.active::after {
    content: "";
    width: 30%;
    height: 2.2px;
    background: #DE155E;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 3s ease-in-out;
}
#link-destaque {
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
    padding: 15px;
    border: 2px solid #DE155E; 
    border-radius: 5px; 
    transition: .5s ease-in-out; 
}  
#link-destaque:hover, #link-destaque.active {
    color: #010101;
    font-weight: 600;
    background-color: #DE155E;
}
@media (max-width: 769px) {

    nav .menu {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 40px;
    }
    #navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 10px 0px;
        gap: 05px;
    }
    #navbar.open {
        display: flex;
    }
    #navbar li {
        width: 95vw;
        background-color: #2a2a2a;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
    }
    #link:hover {
        color: #010101;
        font-weight: 600;
    }
    #navbar li:hover {
        background-color: #DE155E;
    }
    #link {
        padding: 10px 100px;  
    }
    #link-destaque {
        color: #DE155E;
        display: block;
        padding: 0;
        transition: none; 
        border: none;  
    }
    #link:hover::after, #link.active::after {
        display: none;
    }
}
