.container-sobre {
    background-color: rgb(251, 251, 251);
    width: 100%;
    margin: 0 auto;
}
.container-marca {
    background-color: rgb(252, 251, 251);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0px;
}
.container-marca img {
    margin-left: 0px;
}
.container-marca div {
    width: 600px;
    margin-right: 0px;
    padding-top: 50px;
}
.container-marca div h2 {
    padding-bottom: 15px;
    font-size: 40px;
}
.foto-marca {
    width: 300px;
}
.foto-chala {
    width: 500px;
}
.container-forme {
    background-color: #08060B;
    display: flex;
    gap: 200px;
    padding-top: 50px;
}
.container-forme div {
    margin-left: 200px;
    padding-top: 80px;
}
.container-forme div h2 {
    color: whitesmoke;
    padding-bottom: 15px;
    font-size: 40px;
}
.container-forme div p {
    color: whitesmoke;
    max-width: 500px;
}