.container-sobre {
    background-color: #08060B;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}
.foto-marca {
    width: 100px;
    height: 100px;
}
.foto-chala {
    width: 500px;
}
.container-forme {
    background-color: #08060B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    gap: 0px;
    width: 550px;
}
.container-forme h2 {
    padding-bottom: 7px;
    font-size: 30px;
    color: #DE155E;
}
.container-forme p {
    color: whitesmoke;
    padding-bottom: 30px;
}
.container-forme #text1 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}




